.formContainer {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.label {
  width: 150px;
  min-width: 150px;
  margin-right: 20px;
  color: #333;
  font-weight: 500;
}

.input,
.fileInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.fileInput {
  padding: 7px;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.secureLinkContainer {
  margin-top: 30px;
}

.secureLinkInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #333;
  margin-top: 5px;
}
